{% extends "layout/side-menu.html" %}
{% block links %}
{% include "links/sell.html" %}
{% endblock %}
{% block menu %}
<div class="title">
  Vendor Dashboard
</div>
<ul class="category-tree">
  <li>
    <a class="header" href="/vendor/listings"><span class="category">Listings</span></a>
  </li>
  <li>
    <a class="header" href="/vendor/listings/create"><span class="category">Add listing</span></a>
  </li>
  <li>
    <a class="header" href="/vendor/postage/create"><span class="category">Add postage</span></a>
  </li>
  <!-- <li>
    <a class="header" href="/vendor/form/create"><span class="category">create an order form</span></a>
  </li> -->
  <li>
    <a class="header" href="/vendor/news"><span class="category">Manage Followers</span></a>
  </li>
  <li>
    <a class="header {% if not edit %}active{% endif %}" href="/vendor/images"><span class="category">manage images</span></a>
    <ul>
      <li><a class="header" href="/vendor/images/upload"><span class="category">upload</span></a></li>
      <li><a class="header {% if edit %}active{% endif %}" href="/vendor/images/edit"><span class="category">edit</span></a></li>
    </ul>
  </li>
</ul>
{% endblock %}
{% block container %}
<div class="images">
  <h1 class="jumbo">Images</h1>
  <div class="subtitle">
    {% if not edit %}
      <a href="/vendor/images/edit">edit</a>
      | <strong>manage</strong>
      | <a href="/vendor/images/upload">upload</a>
    {% else %}
      <strong>edit</strong>
      | <a href="/vendor/images">manage</a>
      | <a href="/vendor/images/upload">upload</a>
    {% endif %}
  </div>
  <br />
  <br />
  {% if success %}
    <h2 class="success">{{success}}</h2>
  {% endif %}
  {% if not images|empty? %}
  <form method="POST">
    {% csrf-token %}
  <table class="table normal">
    <tbody>
      {% for image in images %}
      <tr>
        <td>{% image-thumbnail image.id %}</td>
        <td>
           {% if not edit %}<a class="btn btn-warn" href="/vendor/image/{{image.id}}/delete">delete</a>{% endif %}
          <table class="table normal left">
            <tbody>
              <tr>
                <td>Id:</td><td>{{image.id}}</td>
              </tr>
              <tr>
                <td>Name:</td><td>
                  {% if edit %}
                    <input type="text" value="{{image.name}}" name="name[{{image.id}}]" class="input" />
                  {% else %}
                    {% if image.name %}{{image.name}}{% else %} --- {% endif %}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td>Created on:</td><td>{{image.created_on|date:shortDate}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if edit %}
    <p class="text-right">
      <button type="submit" class="btn btn-primary">Update</button>
    </p>
  {% endif %}

  </form>
  {% else %}
    You do not currently have an hosted images
  {% endif %}
</div>
{% endblock %}
