{% extends "layout/side-menu.html" %}
{% block links %}
  {% include "links/settings.html" %}
{% endblock %}
{% block menu %}
<div class="title">
  Account
</div>
<ul class="category-tree">
  <li>
    <a class="header" href="/account"><span class="category">settings</span></a>
  </li>
  <li>
    <a class="header" href="/account/pgp"><span class="category">pgp</span></a>
  </li>
  <li>
    <a class="header" href="/account/wallet"><span class="category">wallet</span></a>
  </li>
  <li>
    <a class="header" href="/account/favorites"><span class="category">favorites</span></a>
  </li>
  <li>
    <a class="header" href="/account/reviews"><span class="category">reviews</span></a>
    <ul>
      <li><a class="header active"><span class="category">Edit Review</span></a></li>
    </ul>
  </li>
  <li>
    <a class="header" href="/account/password"><span class="category">change password</span></a>
  </li>
</ul>
{% endblock %}
{% block container %}
<h1 class="jumbo">Update Review {{id}}</h1>
  <form method="post">
    {% csrf-token %}
    <table class="table">
      <thead>
        <th>item</th>
        <th>rating</th>
        <th>did you receive the item?</th>
        <th>additional comments</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="/listing/{{listing_id}}">{{title}}</a></td>
          <td>
            <label><input type="radio" {% if rating = 1 %}checked {% endif %}name="rating" value="1" /> 1</label>
            <label><input type="radio" {% if rating = 2 %}checked {% endif %}name="rating" value="2" /> 2</label>
            <label><input type="radio" {% if rating = 3 %}checked {% endif %}name="rating" value="3" /> 3</label>
            <label><input type="radio" {% if rating = 4 %}checked {% endif %}name="rating" value="4" /> 4</label>
            <label><input type="radio" {% if rating = 5 %}checked {% endif %}name="rating" value="5" /> 5</label>
          </td>
          <td>
            <label><input type="radio" {% if shipped %}checked {% endif %}name="shipped" value="true" /> yes</label>
            <label><input type="radio" {% if not shipped %}checked {% endif %}name="shipped" value="false" /> no</label>
          </td>
          <td>
            <textarea class="form-control" name="content">{{content}}</textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <input type="submit" class="btn btn-primary p" value="update" />
  </form>
{% endblock %}
