{% extends "market.html" %}
{% block content %}
<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Register</h2>
    </div>
    <form method="POST">
      {% csrf-token %}
      <div class="modal-body">
        <div class="field {% if errors.login %}has-error{% endif %}">
          <label for="login">
            Login
          </label>
          <input class="form-control" id="login" name="login" type="text" value="{{login}}" />
          {% if errors.login %}
            {{errors.login|join:", "}}
          {% endif %}
        </div>
        <div class="field {% if errors.pass %}has-error{% endif %}">
          <label for="pass">Password</label>
          <input class="form-control" id="pass" value="{{pass}}" name="pass" type="password" />
          {% if errors.pass %}
          {{errors.pass|join:", "}}
          {% endif %}
        </div>
        <div class="field">
          <label for="confirm">Confirm Password</label>
          <input class="form-control" id="confirm" value="{{confirm}}" name="confirm" type="password" />
        </div>
        <div class="field {% if errors.captcha %}has-error{% endif %}">
          {% if errors.captcha %}
          {{errors.captcha|join:", "}}
          {% endif %}
          <label for="captcha">Captcha</label>
          <div>
            <img class="captcha" src="data:image/jpeg;base64,{{captcha|safe}}" />
          </div>
          <input class="form-control" id="captcha" name="captcha" type="text" />
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Register" />
        <a class="left-link" href="/login">login</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
