{% extends "layout/side-menu.html" %}
{% block links %}
{% include "links/sell.html" %}
{% endblock %}
{% block menu %}
<div class="title">
  Vendor Dashboard
</div>
<ul class="category-tree">
  <li>
    <a class="header" href="/vendor/listings"><span class="category">Listings</span></a>
  </li>
  <li>
    <a class="header" href="/vendor/listings/create"><span class="category">Add listing</span></a>
  </li>
  <li>
    <a class="header" href="/vendor/postage/create"><span class="category">Add postage</span></a>
  </li>
  <!-- <li>
    <a class="header" href="/vendor/form/create"><span class="category">create an order form</span></a>
  </li> -->
  <li>
    <a class="header" href="/vendor/news"><span class="category">Manage Followers</span></a>
    <ul>
      <li><a class="header active" href="/vendor/news/create"><span class="category">create a new post</span></a></li>
    </ul>
  </li>
  <li>
    <a class="header" href="/vendor/images"><span class="category">manage images</span></a>
  </li>
</ul>
{% endblock %}
{% block container %}

{% if preview %}
<h1 class="jumbo">Preview</h1>
<div class="well">
  {{preview|safe}}
</div>
{% endif %}
{% if not preview %}
<h1 class="jumbo">New Post</h1>
{% endif %}
<form method="POST">
  <p>
    <label for="subject">Subject: {{errors.subject|format-error}}</label>
    <input name="subject" class="input" id="subject" type="text" value="{{subject}}" />
  </p>
  <p>
    <label>Not fans only: <input type="checkbox" name="public" {% if public %}checked{% endif %} value="true" /></label>
  </p>
  <p>
    <label>Published: <input type="checkbox" name="published" {% if published %}checked{% endif %} value="true" /></label>
    you can always publish an article at a later date.
  </p>
  {{errors.content|format-error}}
  <p>
    <textarea rows="6" name="content" class="form-control">{{content|safe}}</textarea>
  </p>
  <span class="submit">
    <button type="submit" class="btn btn-primary">{% if preview %}Update{% else %}Create{% endif %}</button>
  </span>
  {% csrf-token %}
</form>
{% endblock %}
