{% extends "layout/side-menu.html" %}
{% block links %}
  {% include "links/settings.html" %}
{% endblock %}
{% block cartlink %}
  {% include "layout/cart.html" %}
{% endblock %}
{% block menu %}
<div class="title">
  My cart
</div>
{% endblock %}
{% block container %}
<h1 class="jumbo">Checkout</h1>
{% if not listings|empty? %}
<table class="table">
  <thead>
    <tr>
      <th>seller</th>
      <th>item</th>
      <th>price</th>
      <th>quantity</th>
      <th>sub-total</th>
      <th>postage</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
  {% for listing in listings %}
  <tr>
    <td><a href="/user/{{listing.user_id}}">{{listing.alias}} ({{listing.user_rating|rating}})</a></td>
    <td>{{listing.title}}</td>
    <td>{{user.currency_symbol|safe}}{{listing.price|double-format:5}}</td>
    <td>{{listing.lid|count-cart}}</td>
    <td>{{user.currency_symbol|safe}}{{listing.subtotal|double-format:5}}</td>
    <td>
      {% for postage in listing.postage %}
      {% ifequal listing.lid|postage-cart postage.id %}
      {{postage.title}} - {{user.currency_symbol|safe}}{{postage.price|double-format:5}}
      {% endifequal %}
      {% endfor %}
    </td>
    <td>{{user.currency_symbol|safe}}{{listing.total|double-format:5}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<h3 class="text-right {% has-error total %}">
  Total: {% ifunequal user.currency_id 1 %}(&#3647; {{btc_total|double-format:5}}){% endifunequal %} {{user.currency_symbol|safe}}{{total|double-format:5}}
  <br />
  {{errors.total|format-error}}
</h3>
<form class="my-cart" method="post">
{% csrf-token %}
<div class="form-group {% has-error address %}">
  <label for="address">Address:</label>
  {{errors.address|format-error}}
  <textarea id="address" class="form-control" rows="4" name="address">{{address|safe}}</textarea>
</div>
<hr />
<p class="text-right">
  {% if user.pin %}
  <input type="text" class="input btn-input" name="pin" value="{{pin}}" placeholder="Enter your pin" />
  {% endif %}
  <button class="btn btn-primary" type="submit">Place Order</button>
</p>
</form>
{% else %}
  <p class="well">Your cart is empty!</p>
{% endif %}
{% endblock %}
